name: Discord Commit Notification

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send commit to Discord
        uses: ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: >
            "Neuer Commit auf **${{ github.repository }}**:
            ${{ github.actor }} hat gepusht:
            ${{ github.event.head_commit.message }}"
